body { 
    background-image: url("Image's/Moonlit Asteroid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content { 
    max-width: 1300px;
    margin: auto;
}
.head {
    width: auto;
    height: auto;
    text-align: center;
}
#tabs_table {
    table-layout: fixed;
    width: 300px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    margin: 0 auto;
}
#tabs_table    th:nth-child(odd) {background-color: #0F2027}                
#tabs_table    th:nth-child(even) {background-color: #2C5364}
#tabs_table    th:hover {background-color: #203A43}
#tabs_table    th {
    padding: 15px;
    font-size: 110%;
}
h1 { 
    font-size:xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
}
h2 {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:antiquewhite;
}
p {
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
a {
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}